body {
    margin: 0;
    background: #121212;
}

* {
    user-select: none;
    font-family: "gg sans";
}

main {
    width: 400px;
    height: 320px;
    background: #121212;
}

.title {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 20px;
    font-family: 700;
    color: #fff;
}

.preview {
    border-radius: 8px;
    margin-left: 45px;
    background: #000;
    width: 310px;
    height: 165px;
    position: relative;
}

.preview img {
    cursor: pointer;
    top: 12px;
    left: 12px;
    position: absolute;
    border-radius: 8px;
    width: 64px;
    height: 64px;
}

.p-image {
    top: 12px;
    left: 12px;
    position: absolute;
    width: 64px;
    opacity: 0;
    cursor: pointer;
    height: 64px;
}

.p-client {
    top: 16px;
    left: 84px;
    position: absolute;
    font-size: 16px;
    color: #CED1D4;
    font-weight: 600;
}

.p-input {

    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 0;
}

.p-input::placeholder {
    
    font-family: "gg sans";
}

.p-details {
    position: absolute;
    top: 37px;
    left: 84px;
}

.p-state {
    position: absolute;
    top: 54px;
    left: 84px;
}

.p-label {
    position: absolute;
    top: 16px;
    left: 16px;
}

.p-url {
    position: absolute;
    top: 36px;
    left: 16px;
}

.p-button {
    cursor: pointer;
    position: absolute;
    background: #4B4848;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 290px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    color: #fff;
    transition: background .3s;
}

.p-button-1 {
    top: 83px;
    left: 12px;
}

.p-button-2 {
    top: 120px;
    left: 12px;
}

.switch:hover {
    background: #303030;
    transition: .3s;
}

.p-button:hover {
    background: #303030;
    transition: .3s;
}

.switch {
    text-align: center;
    margin-top: 12px;
    margin-left: 45px;
    cursor: pointer;
    width: 310px;
    background: #000;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    color: #fff;
    transition: background .3s;
}